<div class="navigation-buttons">
  <button class="button list-button" routerLink="">Back to package list</button>
  <button class="button" (click)="getPreviousRoute()">Previous view</button>
</div>
<div *ngIf="singlePackage$ | async as singlePackage">
  <p>Name: {{ singlePackage.package }}</p>
  <span>Description:</span>
  <p>{{ singlePackage.description }}</p>
  <p *ngIf="singlePackage.depends">
    Dependecies:
    <span *ngFor="let depend of singlePackage.depends; let last = last">
      <a
        *ngIf="depend.link"
        [routerLink]=""
        [queryParams]="{ packageName: depend.name }"
        routerLinkActive="is-active"
        >{{ depend.name }}
      </a>
      <span *ngIf="!depend.link">{{ depend.name }}</span>
      <span *ngIf="!last">, </span>
    </span>
  </p>
  <p *ngIf="singlePackage.reverseDepends">
    Reverse dependencies:
    <span
      *ngFor="
        let reverseDepends of singlePackage.reverseDepends;
        let last = last
      "
    >
      <a
        *ngIf="reverseDepends.link"
        [routerLink]=""
        [queryParams]="{ packageName: reverseDepends.name }"
        routerLinkActive="is-active"
      >
        {{ reverseDepends.name }}
      </a>
      <span *ngIf="!reverseDepends.link">{{ reverseDepends.name }}</span>
      <span *ngIf="!last">, </span>
    </span>
  </p>
</div>
