<div class="navigation-buttons">
  <button class="button list-button" routerLink="">Back to package list</button>
  <button class="button" (click)="getPreviousRoute()">Previous view</button>
</div>
<div *ngIf="singlePackage$ | async as singlePackage">
  <p>Name: {{ singlePackage.package }}</p>
  <span>Description:</span> <p>{{ singlePackage.description }}</p>
  <p *ngIf="singlePackage.depends">
    Dependecies:
    <span *ngFor="let dep of singlePackage.depends; let last = last">
      <a
        [routerLink]=""
        [queryParams]="{ packageName: dep }"
        routerLinkActive="is-active"
        >{{ dep }}
      </a>
      <span *ngIf="!last">, </span>
    </span>
  </p>
  <p *ngIf="singlePackage.reverseDepends">
    Reverse dependencies:
    <span
      *ngFor="
        let reverseDepends of singlePackage.reverseDepends;
        let last = last
      "
    >
      <a
        [routerLink]=""
        [queryParams]="{ packageName: reverseDepends }"
        routerLinkActive="is-active"
      >
        {{ reverseDepends }}
      </a>
      <span *ngIf="!last">, </span>
    </span>
  </p>
</div>
