.heading {
  text-align: center;
}
.list {
  -webkit-column-width:12em;
  -moz-column-width: 12em;
  column-width: 12em;

  list-style: none;
  padding-left: 0.5rem;

  .list-item {
    padding: 0.2rem 0;
  }

  .package-button {
    padding: 0.2em;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid black;
    text-align: left;

    &:hover,
    &:focus {
      color: green;
      border-bottom: 1px solid green;
      -moz-box-shadow: 0px 1px 0px green;
      box-shadow: 0px 1px 0px green;
    }
  }
}
